#skills {
  background-color: #e0e0e0;
}

#skills h3 {
    color: #8b0000;
  }

  #skills .value {
    margin-top: 10px;
  }

  #skills .starFull {
    color: #8b0000;
    margin: 0 1px;
  }

  #skills .starEmpty {
    color: #b0b0b0;
    margin: 0 1px;
  }

#achievements h3 {
  color: #8b0000;
}

  #achievements #carousel h3 {
    color: #ffffff;
  }

  #achievements .carouselImage {
    height: 700px;
    object-fit: contain;
  }

#achievements .showMore {
  margin-bottom: 20px;
  margin-top: 40px;
}

#achievements .value {
  margin-top: 10px;
}

#achievements .starFull {
  color: #8b0000;
  margin: 0 1px;
}

#achievements .starEmpty {
  color: #b0b0b0;
  margin: 0 1px;
}
